<!-- Django Template Engine -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base HTML template for all html files</title>
</head>

<body>
    <hr>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
        {% if request.user.is_authenticated %}
        <a href="/logout" class="navbar-brand" href="#">Logout</a>
        {% else %}
        <a href="/login" class="navbar-brand" href="#">Login</a>
        {% endif %}
    </nav>
    <hr>

    {% block start %}
    {% endblock %}


</body>

</html>