{% extends "base.html" %}
{% block start %}

<div class="container mt-5">

    <form method="POST" enctype="multipart/form-data ">
        {% csrf_token %}
        <h2>Add Recipe</h2>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Recipe Name</label>
            <input name="name" type="text" class="form-control" placeholder="Maggie">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Recipe description</label>
            <input type="text" name="description" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Upload Image</label>
            <input type="file" name="image" class="form-control">
        </div>
        <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input">
            <label for="form-check-label" for="examplecheck1">check me out</label>
        </div> -->
        <button type="submit" class="btn btn-success">Add Recipe</button>
    </form>
    {{recipes}}
    <hr>
    <form>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">
                <h3>Search Item</h3>
            </label>
            <input name="search_re" value="{{recipe.name}}" type="text" class="form-control">
        </div>
        <button type=" submit" class="btn btn-primary">Search</button>
    </form>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Recipe Name</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{recipe.name}}</td>
                <td>{{recipe.description}}</td>
                <td>{{recipe.image}}</td>
                <td>
                    <a href="/delete_recipe/{{recipe.id}}" class="btn btn-danger">Delete</a>
                    <a href="/update_recipe/{{recipe.id}}" class="btn btn-primary">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

</div>

{% endblock %}